{% extends 'main/main.html' %}
{% block content %}
{% load static %}
<div class="header-bar">
    <h3 style='margin:0'> There are <i>{{prints.count}}</i> prints to choose from, or <a id="add-link"
            href="{% url 'print_upload' %}">add</a> yours to the library! </h3>
</div>

<div class='topnav'>
    <a href="{% url 'print_list' %}"> Library </a>
    <a href="{%url 'print_upload' %}"> Upload </a>
    <div class="search-container">
        <form method="GET" style="float: inline-end;">
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="Search.." id='search' value="{{search_input}}">
        </form>
    </div>
</div>



<div class="sidenav">
    <div class="snheader" id="snheader">
        <h2> This weeks top downloads. </h2>
    </div>
    <tbody>
        {% for print in prints %}
        <tr>
            <td>{{ print.title }}</td>
            <td>
                {% if print.cover %}
                <img src=" {{ print.cover.url }}" alt=" no slice " height='150' ; width="150">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</div>

<div class="card-body" style="padding-left: 20%; padding-right: 10%;padding-top: 5%; font-size: 20px;">
    <pheader><i> Welcome cre8or,</i></pheader>
    <p><i>here you will find the basics to 3d printing. From the start of the process to the end, you can learn
            about
            the materials, equipment, modeling, and of course the final stage- printing. Your imagination is the only
            limit!
        </i></p>
</div>

<t-row style="padding: 20%;">
    <button class="btn materials">Materials</button>
    <button class="btn equipment">Equipment</button>
    <button class="btn modeling">Modeling</button>
    <button class="btn printing">Printing</button>
</t-row>
{% endblock content %}