{% extends 'main/main.html' %}
{% block content %}
{% load static %}
<div class="header-bar">
    <h3 style='margin:0'> There are <i>{{prints.count}}</i> prints to choose from, or <a id="add-link"
            href="{% url 'print_upload' %}">add</a> yours to the library! </h3>
</div>

<div class='topnav'>
    <a href="{% url 'print_list' %}"> Library </a>
    <a href="{%url 'print_upload' %}"> Upload </a>
    <div class="search-container">
        <form method="GET" style="float: inline-end;">
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="Search.." id='search' value="{{search_input}}">
        </form>
    </div>
</div>

<div class="sidenav" id='sidenav'>
    <div class="snheader" id="snheader">
        <h2> This weeks top downloads. </h2>
    </div>
    <tbody>
        {% for print in prints %}
        <tr>
            <td>{{ print.title }}</td>
            <td>
                {% if print.cover %}
                <img src=" {{ print.cover.url }}" alt=" no slice " height='150' ; width="150">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</div>

<div class="card-body" style="padding-left: 20%; padding-right: 10%;padding-top: 5%; font-size: 20px;">
    <pheader><i> Welcome cre8or,</i></pheader>
    <p><i> this is Cre8ion. Here you will find, along with the basics to 3d printing, the ability to download and
            upload models. As a cre8or we enjoy 3d modeling, and shareing our ideas for others to see and use. When it
            comes to what you can expect to learn is the start of the process to end of the process, you can learn about
            the materials, equipment, modeling, and of course the final stage- printing.
        </i></p>
    <i>
        <p style="text-align: right;"> Your imagination is the only limit!</p>
    </i>
    <t-row style="text-align:center;">

        <button class="btn materials" onclick="popupfunc()">Materials
            <span class="popuptext" id="popup"> WOAH! </span>
        </button>

        <button class="btn equipment" onclick="popupfunc0()">Equipment
            <span class="popuptext" id="popup0"> WOAH </span>
        </button>

        <button class="btn modeling" onclick="popupfunc1()">Modeling
            <span class="popuptext" id="popup1"> WOA </span>
        </button>

        <button class="btn printing" onclick="popupfunc2()">Printing
            <span class="popuptext" id="popup2"> WO </span>
        </button>

    </t-row>
</div>




{% endblock content %}