{% extends 'main/main.html' %}
{% block content %}
{% load static %}
{% load static %}

<div class="topnav" style="background: transparent;">
    <a href="{%url 'print' %}" style="color: rgb(70, 80, 233)">&#8592; Home </a>
    <a href="{%url 'print_upload' %}" style="color: rgb(70, 80, 233)"> Upload </a>
    <div class="search-container">
        <form method="GET" style="float: inline-end;">
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="Search..." id='search' value="{{search_input}}">
        </form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<body>

    <h1 style="color: grey; text-align: center;">Model Library</h1>
    <hr />

    <div class='container'>
        <div class='row'>

            {% for print in prints %}
            <div class="col-3" style="text-align: center; color: rgb(70, 80, 233);">
                <img src="{{print.cover.url}}" alt="no slice" ; height="200" ; width="200" ; />
                <hr />
                <span class="fal fa-fire"></span> {{print.title}} <a href="{{print.stl.url}}" download>
                    <span class="icon fa fa-cloud">
                    </span></a>
                <h3>
                    {% if request.user.is_authenticated %}
                    <form action="{% url 'likes' print.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="fa fa-thumbs-up"
                            style="border: transparent; background-color: transparent;" name="print-likes"
                            value="{{ print.id }}" ;>
                        </button>

                        <button type="submit"
                            style="border: transparent; background-color: transparent;">&#128173</button>

                    </form>

                </h3>
                {% endif %}



            </div>
            {% endfor %}
        </div>

</body>


<div class="pagination">
    <span class="step-links">
        {% if prints.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ prints.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ prints.number }} of {{ prints.paginator.num_pages }}.
        </span>

        {% if prints.has_next %}
        <a href="?page={{ prints.next_page_number }}">next</a>
        <a href="?page={{ prints.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</html>



{% endblock content %}