{% load static %}

<div class='header-bar'>
    <div>
        <h1> Cre8ion </h1>
        <h3 style='margin:0'> There are <i>{{prints.count}}</i> prints to choose from, or <a id="add-link"
                href="{% url 'print_upload' %}">add</a> yours to the library! </h3>
    </div>
    <a href="{% url 'print_list' %}"> Library </a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}"> Logout </a>
    {% else %}
    <a href="{% url 'login' %}"> Login </a>
    {% endif %}
</div>

<!-- > order files by the download.count -->
<div>
    <table class="table">
        <thead>
            <h1> This weeks top downloads. </h1>
            <tr>
                <th> Model Name </th>
                <th> Cover </th>
            </tr>
        </thead>
        <tbody>
            {% for print in prints %}
            <tr>
                <td>{{ print.title }}</td>
                <td>
                    {% if print.cover %}
                    <img src="{{ print.cover.url }}" alt=" no slice " height='150' ; width="150">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h3> info on the basics to 3d modeling: materials used, equipment used, creating the model, printing the model.</h3>