{% extends 'main.html' %}
{% block content %}
{% load static %}

<div class="header-bar">
    <h3 style='margin:0'> There are <i>{{prints.count}}</i> prints to choose from, why not <a id="add-link"
            href="{% url 'print_upload' %}">add yours</a> to the library! </h3>
</div>

<div class='topnav'>
    <a href="{% url 'print_list' %}"> Library </a>
    <a href="{%url 'print_upload' %}"> Upload </a>
    <div class="search-container">
        <form method="GET" style="float: inline-end;">
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="Search.." id='search' value="{{search_input}}">
        </form>
    </div>
</div>



<div class="sidenav" id='sidenav' style="position: absolute;">
    <div class="snheader">
        <h2> This weeks top downloads. </h2>
    </div>
    <tbody>
        {% for print in prints %} <tr>
            <td>{{ print.title }}</td>
            <td>
                {% if print.cover %}
                <img src=" {{ print.cover.url }}" alt=" no slice " height='150' ; width="150" ;>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</div>

<div class="card-body" style="padding-left: 20%;padding-right: 10%;position: fixed;">
    <h1 style="color: grey;"><i> Welcome Cr8or,</i></h1>
    <p> Here you'll find, along with the basics to 3d printing, the ability to download/ upload models, and
        share cr8ivity with other likeminded cr8ors. If also you find someone’s work admirable there's a chance they
        may offer custom modeling for you to request! As a cr8or we enjoy 3d modeling and sharing our ideas for others
        to see and use.

    </p>
    <p>
        When it comes to what you can expect to learn in this environment is provided in 4 steps. Which includes the
        complete start of the process to end of the process. You can learn about the materials, equipment, modeling, and
        of course the final printing stage. We cover everything in the basics, however there is always something new
        being invented to help cr8ors so do feel free to look at other resources also. With that said, remember~
    </p>

    <i>
        <p style="text-align: right; font-size: 20px; "> Your imagination is the only limit!</p>
    </i>
    <t-row style="text-align:center;">

        

        <p> Intro to cr8ing anything: </p>
        <button type="button" class="collapsible" >Materials</button>
        <div class="content">
          <p> Covering filaments such as pla, abs, tpu, petg, and much more.</p>
        </div>
        <button type="button" class="collapsible" >Equipment</button>
        <div class="content">
          <p> Tips and things to better understand the machine you're useing or in the market
            for.</p>
        </div>
        <button type="button" class="collapsible" >Modeling</button>
        <div class="content">
          <p> This will cover the software you'll need in order to start making your own
            models.</p>
        </div>
        <button type="button" class="collapsible" >Printing</button>
        <div class="content">
          <p> You'll learn about "sliceing" and further understand what is needed to finally
            present youre cr8ion to the world!</p>
        </div>
    </t-row>
    <div>

    </div>
    <hr>
    <p>materials a full paragraph on the materials used/ needed for the printing process.</p>
    <p>equipment a full paragraph on the equipment used/ needed for the printing process.</p>
    <p>modeling a full paragraph on the modeling used/ needed for the printing process.</p>
    <p>printing a full paragraph on the printing used/ needed for the printing process.</p>
</div>

<script>

    function popupfunc(event) {
        const currentlyVisible = document.querySelector('.popup .show');
        if (currentlyVisible) {
            currentlyVisible.classList.toggle('show');
        }
        var popup = event.currentTarget.querySelector('.popuptext');
        popup.classList.toggle("show");
    }

    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i  = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }


    function myFunction() {
        var x = document.getElementById("demo");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
    }
</script>




{% endblock content %}